@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Добро пожаловать в SkyPort — ваш надежный аэропорт.</p>
    <hr class="my-4" />
    <p>Используйте поиск рейсов для поиска доступных направлений.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Flights" asp-action="Index" role="button">Найти рейсы</a>
</div>
